
#home_canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 120vh;
    width: 99vw;
    /*background-image: linear-gradient(to right, rgb(12, 4, 26), rgb(34, 23, 65), rgb(78, 124, 223), rgb(6, 7, 29) );*/
}