
#home_container{
    background-image: linear-gradient(to bottom left, rgba(80, 41, 92, 0.2), rgba(152, 154, 185, 0.3), rgba(33, 12, 126, 0.1) );
    min-height: 100vh;
    padding: 2rem;
}

#home_contents{
    background-color: rgb(231, 235, 235);
    min-height: 25rem;
    width: 70%;
    margin: 5% 5% 5% 25%;
    border-radius: 25px;
    padding: 1rem;
}

#second_home_container{
    color: rgb(193, 225, 193);
    background-image: linear-gradient(to bottom right, rgb(39, 189, 190), rgb(25, 35, 175) );
    min-height: 100vh;
    padding: 2rem;
}
#home_contents_2{
    color: rgb(12, 88, 110);
    background-color: rgb(231, 235, 235);
    height: 70%;
    width: 90%;
    max-width: 1300px;
    margin: 5% 25% 5% 5%;
    border-radius: 25px;
    padding: 1rem;
}

#home_about_container{
    color: rgb(12, 88, 110);
    background-color: rgb(231, 235, 235);
    min-height: 100vh;
    padding: 2rem 4rem;
    text-align: center;
}

#call_to_action_container{
    color: rgb(12, 88, 110);
    background-color: rgb(193, 225, 193);
    min-height: 100vh;
    padding: 2rem;
}


footer{
    color: rgba(255, 255, 255, 0.432);
    background-color: rgb(27, 29, 29);
    height: 10rem;
    padding: 2rem;

}

#project_img{
    width: 3rem;
    height: 3rem;
}

.participant_list > ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.participant_list > ul > li{
    padding: 0.5rem;
    overflow: hidden;
    max-height: 2rem;
}
.participant_list > ul > li:hover{
    max-height: 10rem;
}

.about_images{
    width: 20rem;
    height: 14rem;
    border-radius: 50%;
}

.container{
    padding: 1.5rem 2.5rem;
}

#message{
    width: 60%;
    height: 10rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.flex_this > div{
    width: 50%;
}

.container > h2{
    padding: 1rem;
}

#project_img{
    padding: 1rem;
    float: right;
    width: 40%;
    height: auto;
}

#summary_img{
    float: right;
    width: 40%;
    max-height: 23rem;
}

#call_to_action_container > div{
    padding: 2rem;
}





/* Responsiveness */
@media only screen and (max-width: 900px) {
    .flex_this > div{
        width: 95%;
    }
    #home_about_container{
        padding: 0.5rem;
    }
    #message{
        width: 80%;
    }
    #home_contents{
        width: 90%;
        margin: 5% 1% 5% 1%;
        padding: 0.6rem;
    }
    #second_home_container{
        padding: 3rem 0.2rem;
    }
    #home_contents_2 {
        margin: 3rem 0rem;
        width: 98%;
        overflow-x:auto;
    }
    table{
        width: 98%;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
    tr{
        width: 98%;
    }
    .about_images{
        width: 80%;
        height: auto;
    }
    .container{
        padding: 1rem;
    }
}

