.participant_list{
    border: rgb(12, 88, 110) solid 2px;
    background-color: rgb(150, 144, 144);
    border-radius: 5px;
}
.participant_list > ul{
    display: flex;
    flex-wrap: wrap;
}
.participant_list > ul > li{
    padding: 0.5rem;
}

header{
    padding: 3rem;
    color: white;
    text-align: center;
    margin: 3rem 0rem;
    background-image: linear-gradient(to bottom right, rgb(39, 189, 190), rgb(25, 35, 175) );
}

#project_main_image{
    border: rgb(12, 88, 110) solid 2px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    min-height: 20rem;
}

#project_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 18rem;
}

#project_main_cont{
    padding: 1rem 5rem;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

#summary{
    border-radius: 25px;
    color: rgb(193, 225, 193);
    padding: 2rem;
    margin: 3rem 0.2rem;
    border-bottom: rgb(12, 88, 110) solid 3px;
    background-color: rgb(12, 88, 110);
}

.row_odd, .row_even{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 14rem;
    margin: 1rem 0.2rem;
    border-bottom: rgb(12, 88, 110) solid 3px;
    padding: 1rem;
}
.row_even{
    background-color: rgba(193, 225, 193, 0.3);
}
.row_odd{
    background-color: rgba(109, 200, 191, 0.3);
}

.row_even > img{
    float: left;
    margin: 1rem;

}
.row_odd > img{
    height: 10rem;
    float: right;
    margin: 1rem;
}


/* Responsiveness */
@media only screen and (max-width: 900px) {
    #project_main_cont{
        padding: 0.5rem;
    }
    #project_img{
        width: 100%;
    }
    .row_even_img, .row_odd_img{
        width: 100%;
        height: auto;
        position: relative;
        margin: 0;
    }
    
}

