h4{
    padding: 1rem;
}

#student_info_inner{
    width: 70%;
    position: absolute;
    z-index: 2;
    padding: 2rem;
    background-color: white;
    border-radius: 25px;
    border: rgb(12, 88, 110) solid 2px;
    max-width: 1000px;
}

#participant_list > ul > li:onHover{
    background-color: cadetblue;
}

.student_img{
    border-radius: 50%;
    width: 20%;
}

#close_button{
    float: right;
    padding:3px;
    height: fit-content;
    width: fit-content;
    background-color: red;
    color: white;
    border: black solid 1px;
    border-radius: 3px;
}

#project_list{
    border: rgb(12, 88, 110) solid 2px;
    background-color: rgb(150, 144, 144);
    border-radius: 5px;
}
#project_list > ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
#project_list > ul > li{
    padding: 0.5rem;
}


/* Responsiveness */
@media only screen and (max-width: 900px) {
    #student_info_inner{
        width: 95%;
    }
}

