html{
    font-family: 'Times New Roman', Times, serif;
}
main{
    font-family: Roboto, sans-serif;
}

h1{
    padding: 1.2rem;
    font-size: 2.8rem;
    text-transform: uppercase;
}
h2{
    padding: 0.5rem 1rem 1rem;
    font-size: 2rem;
}
h3{
    font-size: 1.8rem;
}
p{
    padding: 0.5rem;
    font-size: 1.3rem;
}

nav > ul{
    list-style-type: none;
}

a:link {
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    color: black;
    /* text-decoration: none; */
}
a:hover {
    background-color: rgb(193, 225, 193);
    color: black;
}

a:visited {
    color: rgb(12, 88, 110);
}

nav > ul > li > a:link{
    color: rgb(241, 241, 241);
    text-decoration: none;
}

nav > ul > li > a:visited{
    color: rgb(241, 241, 241);
}

#home_container{
    color: white;
    text-shadow: 2px 2px rgb(50, 58, 58);
}
#home_contents{
    text-shadow: none;
    color: rgb(12, 88, 110);
}

#second_home_container{
    color: rgb(193, 225, 193);
}
#home_contents_2{
    color: rgb(12, 88, 110);
}

#home_about_container{
    color: rgb(12, 88, 110);
}

#call_to_action_container{
    color: rgb(12, 88, 110);
}

footer{

}

.participant_list > ul{
    list-style-type: none;
}

#font1{
    font-family: 'Courier New', Courier, monospace;
}
#font2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#font3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#font4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#font5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#font6{
    font-family: 'Times New Roman', Times, serif;
}
#font7{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#font8{
    font-family: Arial, Helvetica, sans-serif;
}
#font9{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#font10{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#font11{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#font12{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#font13{
    font-family: cursive;
}
#font14{
    font-family: fantasy;
}
#font14{
    font-family: monospace;
}
#font15{
    font-family: sans-serif;
}
#font16{
    font-family: serif;
}
#font17{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#font18{
    font-family: inherit;
}
#font19{
    font-family: initial;
}
#font20{
    font-family: unset;
}